.custom-btn-size {
    width: 100px; /* Establece el ancho deseado para los botones */
}
  
.custom-margin-right {
    margin-right: 10px; /* Establece el margen derecho para separar los botones */
}

.custom-nombre-producto{
    font-weight: bold; font-size: 25px;
}