<div class="container">
  <form [formGroup]="compraForm" (ngSubmit)="saveCompra()">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center custom-title">{{ editMode ? 'Editar' : 'Crear' }} Lista de Compra</h1>
      </div>
    </div>

    <div class="row" *ngIf="editMode">
      <div class="col-12">
        <div class="form-group">
          <select id="listaCompraSelect" class="form-control custom-select" formControlName="id" (change)="onCompraSelect($event)">
            <option value="null" disabled hidden selected>Seleccionar lista de compra</option>
            <option *ngFor="let compra of compraList" [ngValue]="compra.id">{{ compra.descripcion }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" *ngIf="!editMode">
        <div class="form-group custom-description-text">
          <input type="text" placeholder="Nueva Lista" class="form-control" formControlName="descripcion">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <select class="form-control custom-select" (change)="onProductoSelect($event)">
            <option value="" disabled selected>Seleccionar producto</option>
            <option *ngFor="let producto of productosList" [value]="producto.id">{{ producto.nombre }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Cantidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody formArrayName="productosFormArray">
              <tr *ngFor="let productoCtrl of productosFormArray.controls; let i = index" [formGroupName]="i">
                <td>{{ productoCtrl.get('nombre')!.value }}</td>
                <td>{{ productoCtrl.get('cantidad_stock')!.value }}</td>
                <td>
                  <input type="number" class="form-control" formControlName="cantidad_comprar" min="1">
                </td>
                <td>
                  <button type="button" class="btn btn-light mx-1" (click)="deleteProductoCompra(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-success">Confirmar</button>
        <button type="button" class="btn btn-secondary" (click)="abort()">Cancelar</button>
      </div>
    </div>
  </form>
</div>