<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center custom-title">{{ editMode ? 'Editar' : 'Crear' }} Lista de Compra</h1>
    </div>
  </div>

  <div class="row" *ngIf="editMode">
    <div class="col-12">
      <div class="form-group">
        <select id="listaCompraSelect" class="form-control custom-select" [(ngModel)]="listaCompraSeleccionadaId" (change)="seleccionarCompra(listaCompraSeleccionadaId)">
          <option value="null" disabled hidden selected>Seleccionar lista de compra</option>
          <option *ngFor="let compra of listasCompra" [ngValue]="compra.id">{{ compra.descripcion }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group custom-description-text">
        <input type="text" placeholder="Descripción de la Lista" class="form-control" [(ngModel)]="nuevaDescripcionLista">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select id="productoSelect" class="form-control custom-select" [(ngModel)]="productoSeleccionadoId" (change)="seleccionarProducto(productoSeleccionadoId, cantidadComprarCompraProducto)">
          <option value="-1" disabled hidden selected>Añadir Producto</option>
          <option *ngFor="let producto of productosDisponibles" [value]="producto.id">{{ producto.nombre }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Stock</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productoCompra  of todosLosCompraProductos">
              <td>{{ productoCompra.nombre_producto}}</td>
              <td>{{ obtenerStockProducto(productoCompra.id_producto)}}</td>
              <td>
                <input type="number" class="form-control" [(ngModel)]="productoCompra.cantidad" (ngModelChange)="cambiarCantidadComprar(productoCompra.id_producto, $event)">

              </td>
              <td>
                <button class="btn btn-light mx-1" (click)="borrarProductoDeLista(productoCompra.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-success" (click)="guardarCompra()">Confirmar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelarCompra()">Cancelar</button>
    </div>
  </div>
</div>
